@use 'constants' as *;
@use 'partials' as *;
@use 'utils' as *;

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: $clr-white-900;
}

body { 
    max-width: $layoutWidth;
    margin: 0 auto;
    padding: 0 1rem;
}

.header {
    top: 0;
    position: sticky;
    background-color: $clr-white-900;
}

.header nav {
    display: flex;
}

.header button {
    display: none;
}

.navigation {
    gap: $layoutGap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
}

.navigation_item > a {
    @include fontWeight('Inter', 500);
    text-decoration: none;
    color: $clr-blue-400;
}

.image {
    width: auto;
    height: 100%;
    display: block;
}

.logo {
    height: 36px;
}

.nav_toggle .image {
    height: 20px;
}


.button {
    @include fontWeight('Inter', 600);
    background-color: transparent;
    letter-spacing: 4px;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.button-accent {
    color: $clr-white-900;
    background-color: $clr-red-600;
}

.button-box {
    padding: 1rem;
    grid-auto-flow: column;
}


@media only screen and (min-width: 1024px) {
    .header, .aboveFold { margin-top: 3rem; } 
}

@media only screen and (max-width: 1024px) {
    .container_layout-grid { display: initial; }
    .newArticles { margin-top: 3rem; }
    .header { padding: 2rem 0; } 
    .hero > .container_layout,
    .popularArticles > .container_layout {
        flex-direction: column;
        display: flex;
        gap: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .header button { display: initial; }
    .header nav { 
        display: initial;
        width: 100%;
    }
    .header {
        display: flex;
        padding: 1rem 0;
        align-items: center;
    }
    .navigation {
        border-bottom: 2px solid $clr-blue-100;
        background-color: $clr-white-900;
        flex-direction: column;
        align-items: end;
        position: fixed;
        height: initial;
        width: initial;
        display: none;
        padding: 2rem;
        width: 100%;
        gap: 2rem;
        right: 0;
    }
}