@use '../constants' as *;

.block {
    // Block Media
    .block_picture { grid-column: var(--gridColumn); }
}

// Block Varinats

.block-hero {
    --gridColumn: 1 / 3;
    grid-column: var(--gridColumn);
}

.block-newArticles {
    background-color: $clr-blue-100;
    color: $clr-white-900;
}

.block-popularArticles {
    grid-column: 1 / 4;
}