@use '../constants' as *;

.copy {
    &_title {
        @include fontWeight('Inter', 700);
        font-size: 3.125rem;
        line-height: 1.1;
    }
    
    &_paragraph {
        @include fontWeight('Inter', 400);
        color: var(--paragraphColor, $clr-blue-400);
        font-size: 0.875rem;
        line-height: 1.6;
    }
}

.copy_heading {
    color: $clr-blue-100;

    &-primary {
        @include fontWeight('Inter', 500);
        color: var(--primaryheadingColor);
        margin-bottom: 1.75rem;
        font-size: 2.25rem;
    }

    &-secondary {
        @include fontWeight('Inter', 500);
        color: var(--secondaryheadingColor);
        margin-bottom: 0.75rem;
        font-size: 1.125rem;
    }
}